[Unit]
Description=RF 433MHz to MQTT bridge

[Service]
ExecStart=/home/pi/rfmqtt/dist/rfmqtt
WorkingDirectory=/home/pi/rfmqtt
Restart=on-failure

[Install]
WantedBy=default.target

